{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <h1 class="text-center my-5">{{ category.name }}</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for boardgame in category.boardgames %}
        <div class="col">
            <div class="card">
                <img src="{{ asset('uploads/' ~ boardgame.picture) }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ boardgame.title }}</h5>
                    <p class="card-text">{{ boardgame.description | slice(0, 250)}}...</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{{ path('app_boardgame_show', {id: boardgame.id})}}" class="btn btn-primary">Voir le jeu</a>
                        {% if app.user %}
                        <div {{ stimulus_controller('collection', {
                            boardgameId: boardgame.id,
                            isInCollection: app.user.boardgames.contains(boardgame),
                            addUrl: path('app_boardgame_addToCollection', {id: boardgame.id}),
                            removeUrl: path('app_boardgame_removeFromCollection', {id: boardgame.id})
                            }) }}>
                            <button type="button" 
                                    class="btn btn-sm"
                                    data-collection-target="button"
                                    data-action="click->collection#toggle"
                                    title="Gérer ma collection">
                                <i class="fas" data-collection-target="icon"></i>
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
